.vs/
ipch/
obj/
fmod_steamaudio/
lib/phonon
lib/fmod
public/phonon
public/fmod
materialsystem/swarmshaders_original
materialsystem/swarmshaders/Debug_dx9
materialsystem/swarmshaders/Release_dx9
public/Awesomium
public/cef
.DS_Store
Thumbs.db
*.sdf
*.VC.opendb
*.db
*.sln
*.vcxproj
*.vcxproj.*
*.sentinel
/Debug/
